replicaCount: 1

image:
  repository: gcr.io/gke-release/custom-metrics-stackdriver-adapter
  tag: v0.13.1-gke.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""


serviceAccount:
# serviceAccount.annotations is a map of annotations you'd like added to the service account
  annotations:
#   key: value

service:
  type: ClusterIP
  protocol: TCP
  port: 443
  targetPort: 443

resources:
  limits:
    cpu: 250m
    memory: 200Mi
  requests:
    cpu: 250m
    memory: 200Mi

container:
  useNewResourceModel: false
