# gke-node-termination-handler

[gke-node-termination-handler](https://github.com/GoogleCloudPlatform/k8s-node-termination-handler)
is a tool for gracefully draining preemptible GCP nodes before Google automatically shuts them down.

## Installation
We recommend installing gke-node-termination-handler in its own namespace.

{{ template "chart.valuesSection" . }}
