apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vault-token-injector.fullname" . }}
  labels:
    {{- include "vault-token-injector.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "vault-token-injector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "vault-token-injector.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "vault-token-injector.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          args:
            - -c
            - /config/config.yaml
            - -v{{ .Values.logLevel }}
            - --enable-metrics={{ .Values.metrics.enabled }}
          {{- if .Values.metrics.enabled }}
          ports:
          - containerPort: 4329
            name: metrics
          {{- end }}
          volumeMounts:
          - name: config
            mountPath: /config
          envFrom:
          - secretRef:
              {{- if .Values.existingSecret }}
              name: {{ .Values.existingSecret }}
              {{- else }}
              name: {{ include "vault-token-injector.fullname" . }}
              {{- end }}
          env:
          - name: "VAULT_ADDR"
            value: {{ .Values.vaultAddress | quote }}
          {{- if .Values.vaultTokenFile }}
          - name: "VAULT_TOKEN_FILE"
            value: {{ .Values.vaultTokenFile | quote }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "vault-token-injector.fullname" . }}
