version: 2.1

orbs:
  rok8s11: fairwinds/rok8s-scripts@11

references:
  setup_environment: &setup_environment
    run:
      name: Setup Environment
      command: |
        echo 'export CI_SHA1=$CIRCLE_SHA1' >> ${BASH_ENV}
        echo 'Install AWS CLI'
        pip install awscli
        echo 'Install needed packages'
        apk --update add bash jq
  kind_configuration_helm3: &kind_configuration_helm3
    pre_script: scripts/circle-pre-e2e.sh
    script: scripts/circle-e2e.sh
    command_runner_image: quay.io/helmpack/chart-testing:v3.4.0
    requires:
      - lint-scripts
      - lint-charts
      - check-helm-docs
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/

jobs:
  check-helm-docs:
    executor: rok8s11/ci-images
    steps:
      - checkout
      - run:
          name: Install helm-docs
          command: |
            cd /tmp
            curl -LO https://github.com/norwoodj/helm-docs/releases/download/v1.5.0/helm-docs_1.5.0_Linux_x86_64.tar.gz
            tar -zxvf helm-docs_1.5.0_Linux_x86_64.tar.gz
            mv helm-docs /usr/local/bin/helm-docs
            chmod +x /usr/local/bin/helm-docs
      - run:
          name: Check Docs for Changes
          command: |
            helm-docs --sort-values-order=file
            git diff --exit-code
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine:v0.7.0
    steps:
      - checkout
      - run:
          name: lint
          command: |
            for script in $(ls scripts/*.sh); do
                shellcheck -x $script
            done
      - run:
          name: lint-pre-scripts
          command: |
            for script in $(find incubator stable -type f -name pre-test-script.sh); do
                shellcheck -x $script
            done
  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.4.0
    steps:
      - checkout
      - *setup_environment
      - run:
          name: lint
          command: |
            git remote add ro https://github.com/fairwindsops/charts
            git fetch ro master
            ct lint --config scripts/ct.yaml --chart-yaml-schema scripts/schema.yaml --debug

  insights:
    executor: rok8s11/ci-images
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run Insights Checks
          command: |
            if [[ -z $CIRCLE_PR_NUMBER ]]; then
              curl -L https://insights.fairwinds.com/v0/insights-ci.sh | bash
            else
              echo "Skipping Insights tests for forked PR"
            fi

  sync:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.4.0
    steps:
      - checkout
      - *setup_environment
      - run:
          name: sync
          command: scripts/sync.sh

workflows:
  version: 2
  test-and-sync:
    jobs:
      - check-helm-docs
      - lint-scripts
      - lint-charts
      - insights
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.19"
          kind_node_image: "kindest/node:v1.19.11@sha256:07db187ae84b4b7de440a73886f008cf903fcf5764ba8106a9fd5243d6f32729"
          executor:
            name: large-executor
            resource_class: large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.20"
          kind_node_image: "kindest/node:v1.20.7@sha256:cbeaf907fc78ac97ce7b625e4bf0de16e3ea725daf6b04f930bd14c67c671ff9"
          executor:
            name: large-executor
            resource_class: large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.21"
          kind_node_image: "kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6"
          executor:
            name: large-executor
            resource_class: large
          <<: *kind_configuration_helm3
      - sync:
          requires:
            - lint-scripts
            - lint-charts
            - check-helm-docs
          filters:
            branches:
              only:
                - master
