version: 2.1

orbs:
  rok8s: fairwinds/rok8s-scripts@12

references:
  setup_environment: &setup_environment
    run:
      name: Setup Environment
      command: |
        echo 'export CI_SHA1=$CIRCLE_SHA1' >> ${BASH_ENV}
        echo 'Install AWS CLI'
        apk --no-cache add aws-cli
        echo 'Install needed packages'
        apk --no-cache add bash jq curl yq

  check_changelog: &check_changelog
    run:
      name: Check CHANGELOG
      command: |
        require_changelog=( insights-agent fairwinds-insights insights-admission )
        for chart in "${require_changelog[@]}"; do
          version=$(yq eval '.version' ./stable/$chart/Chart.yaml )
          echo "Checking if CHANGELOG.md is updated for $chart"
          grep "## $version" ./stable/$chart/CHANGELOG.md
        done

  install_vault_alpine: &install_vault_alpine
    run:
      name: install hashicorp vault
      command: |
        apk --update add curl yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.13.2/vault_1.13.2_linux_amd64.zip
        sha256sum vault_1.13.2_linux_amd64.zip | grep f7930279de8381de7c532164b4a4408895d9606c0d24e2e9d2f9acb5dfe99b3c
        unzip vault_1.13.2_linux_amd64.zip
        mv vault /usr/bin/vault

  kind_configuration_helm3: &kind_configuration_helm3
    pre_script: scripts/circle-pre-e2e.sh
    script: scripts/circle-e2e.sh
    command_runner_image: quay.io/helmpack/chart-testing:v3.14.0
    requires:
      - lint-scripts
      - lint-charts
      - check-helm-docs
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/

executors:
  ci-images:
    docker:
      - image: quay.io/reactiveops/ci-images:v14.1-bullseye
  ci-images-xlarge:
    resource_class: large
    docker:
      - image: quay.io/reactiveops/ci-images:v14.1-bullseye

jobs:
  check-helm-docs:
    executor: ci-images
    steps:
      - checkout
      - run:
          name: Install helm-docs
          command: |
            cd /tmp
            curl -LO https://github.com/norwoodj/helm-docs/releases/download/v1.11.0/helm-docs_1.11.0_Linux_x86_64.tar.gz
            tar -zxvf helm-docs_1.11.0_Linux_x86_64.tar.gz
            mv helm-docs /usr/local/bin/helm-docs
            chmod +x /usr/local/bin/helm-docs
      - run:
          name: Check Docs for Changes
          command: |
            helm-docs --sort-values-order=file
            git diff --exit-code
      - *check_changelog
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine:v0.7.0
    steps:
      - checkout
      - run:
          name: lint
          command: |
            for script in $(ls scripts/*.sh); do
                shellcheck -x $script
            done
      - run:
          name: lint-pre-scripts
          command: |
            for script in $(find incubator stable -type f -name pre-test-script.sh); do
                shellcheck -x $script
            done
  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.14.0
    steps:
      - checkout
      - *setup_environment
      - run:
          name: lint
          command: |
            git remote add ro https://github.com/fairwindsops/charts
            git fetch ro master
            ct lint --config scripts/ct.yaml --chart-yaml-schema scripts/schema.yaml --debug --print-config

  sync:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.14.0
    steps:
      - checkout
      - *setup_environment
      - *install_vault_alpine
      - rok8s/get_vault_aws_credentials:
          vault_path: fairwindsops/sts/charts-docs
      - rok8s/get_vault_env:
          vault_path: repo/charts/env
      - run:
          name: sync
          command: scripts/sync.sh

workflows:
  version: 2
  test-and-sync:
    jobs:
      - check-helm-docs
      - lint-scripts
      - lint-charts
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.30"
          kind_node_image: "kindest/node:v1.30.13@sha256:397209b3d947d154f6641f2d0ce8d473732bd91c87d9575ade99049aa33cd648"
          executor:
            name: ci-images-xlarge
          <<: *kind_configuration_helm3
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.31"
          kind_node_image: "kindest/node:v1.31.12@sha256:0f5cc49c5e73c0c2bb6e2df56e7df189240d83cf94edfa30946482eb08ec57d2"
          executor:
            name: ci-images-xlarge
          <<: *kind_configuration_helm3
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.32"
          kind_node_image: "kindest/node:v1.32.8@sha256:abd489f042d2b644e2d033f5c2d900bc707798d075e8186cb65e3f1367a9d5a1"
          executor:
            name: ci-images-xlarge
          <<: *kind_configuration_helm3
      - rok8s/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.33"
          kind_node_image: "kindest/node:v1.33.4@sha256:25a6018e48dfcaee478f4a59af81157a437f15e6e140bf103f85a2e7cd0cbbf2"
          executor:
            name: ci-images-xlarge
          <<: *kind_configuration_helm3
      - sync:
          requires:
            - lint-scripts
            - lint-charts
            - check-helm-docs
          filters:
            branches:
              only:
                - master
