version: 2.1

orbs:
  rok8s11: fairwinds/rok8s-scripts@11

references:
  setup_environment: &setup_environment
    run:
      name: Setup Environment
      command: |
        echo 'export CI_SHA1=$CIRCLE_SHA1' >> ${BASH_ENV}
        echo 'Install AWS CLI'
        pip install awscli
        echo 'Install needed packages'
        apk --update add bash jq
  kind_configuration_helm3: &kind_configuration_helm3
    pre_script: scripts/circle-pre-e2e.sh
    script: scripts/circle-e2e.sh
    command_runner_image: quay.io/helmpack/chart-testing:v3.0.0
    kind_version: 0.9.0
    requires:
      - lint-scripts
      - lint-charts
      - check-helm-docs
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/

jobs:
  check-helm-docs:
    executor: rok8s11/ci-images
    steps:
      - checkout
      - run:
          name: Install helm-docs
          command: |
            cd /tmp
            curl -LO https://github.com/norwoodj/helm-docs/releases/download/v1.4.0/helm-docs_1.4.0_Linux_x86_64.tar.gz
            tar -zxvf helm-docs_1.4.0_Linux_x86_64.tar.gz
            mv helm-docs /usr/local/bin/helm-docs
            chmod +x /usr/local/bin/helm-docs
      - run:
          name: Check Docs for Changes
          command: |
            helm-docs --sort-values-order=file
            git diff --exit-code
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine:v0.7.0
    steps:
      - checkout
      - run:
          name: lint
          command: |
            for script in $(ls scripts/*.sh); do
                shellcheck -x $script
            done
      - run:
          name: lint-pre-scripts
          command: |
            for script in $(find incubator stable -type f -name pre-test-script.sh); do
                shellcheck -x $script
            done
  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.0.0
    steps:
      - checkout
      - *setup_environment
      - run:
          name: lint
          command: |
            git remote add ro https://github.com/fairwindsops/charts
            git fetch ro master
            ct lint --config scripts/ct.yaml --chart-yaml-schema scripts/schema.yaml --debug

  insights:
    docker:
      - image: quay.io/reactiveops/ci-images:v11-stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run Insights Checks
          command: |
            curl -L https://insights.fairwinds.com/v0/insights-ci.sh | bash

  sync:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.0.0
    steps:
      - checkout
      - *setup_environment
      - run:
          name: sync
          command: scripts/sync.sh
workflows:
  version: 2
  test-and-sync:
    jobs:
      - check-helm-docs
      - lint-scripts
      - lint-charts
      - insights
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.16.15 - Helm 3"
          kind_node_image: "kindest/node:v1.16.15@sha256:a89c771f7de234e6547d43695c7ab047809ffc71a0c3b65aa54eda051c45ed20"
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.17.11 - Helm 3"
          kind_node_image: "kindest/node:v1.17.11@sha256:5240a7a2c34bf241afb54ac05669f8a46661912eab05705d660971eeb12f6555"
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.18.8 - Helm 3"
          kind_node_image: "kindest/node:v1.18.8@sha256:f4bcc97a0ad6e7abaf3f643d890add7efe6ee4ab90baeb374b4f41a4c95567eb"
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.19.1 - Helm 3"
          kind_node_image: "kindest/node:v1.19.1@sha256:98cf5288864662e37115e362b23e4369c8c4a408f99cbc06e58ac30ddc721600"
          <<: *kind_configuration_helm3
      - sync:
          requires:
            - lint-scripts
            - lint-charts
            - check-helm-docs
          filters:
            branches:
              only:
                - master
