version: 2.1

orbs:
  rok8s11: fairwinds/rok8s-scripts@dev:sudermanjr/update-kind-0.16.0

references:
  setup_environment: &setup_environment
    run:
      name: Setup Environment
      command: |
        echo 'export CI_SHA1=$CIRCLE_SHA1' >> ${BASH_ENV}
        echo 'Install AWS CLI'
        pip install awscli
        echo 'Install needed packages'
        apk --update add bash jq curl yq

  check_changelog: &check_changelog
    run:
      name: Check CHANGELOG
      command: |
        require_changelog=( insights-agent )
        for chart in "${require_changelog[@]}"; do
          version=$(yq eval '.version' ./stable/$chart/Chart.yaml )
          echo "Checking if CHANGELOG.md is updated for $chart"
          grep "## $version" ./stable/$chart/CHANGELOG.md
        done

  install_vault_alpine: &install_vault_alpine
    run:
      name: install hashicorp vault
      command: |
        apk --update add curl yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.9.7/vault_1.9.7_linux_amd64.zip
        sha256sum vault_1.9.7_linux_amd64.zip | grep d312f6852cdec8d29e50b72af5d36c6890e1e8bfcbedfdb71785dfc11e907c3d
        unzip vault_1.9.7_linux_amd64.zip
        mv vault /usr/bin/vault

  kind_configuration_helm3: &kind_configuration_helm3
    kind_version: "0.16.0"
    pre_script: scripts/circle-pre-e2e.sh
    script: scripts/circle-e2e.sh
    command_runner_image: quay.io/helmpack/chart-testing:v3.7.1
    requires:
      - lint-scripts
      - lint-charts
      - check-helm-docs
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/

executors:
  ci-images:
    docker:
      - image: quay.io/reactiveops/ci-images:v11-stretch
  ci-images-large:
    resource_class: large
    docker:
      - image: quay.io/reactiveops/ci-images:v11-stretch

jobs:
  check-helm-docs:
    executor: ci-images
    steps:
      - checkout
      - run:
          name: Install helm-docs
          command: |
            cd /tmp
            curl -LO https://github.com/norwoodj/helm-docs/releases/download/v1.5.0/helm-docs_1.5.0_Linux_x86_64.tar.gz
            tar -zxvf helm-docs_1.5.0_Linux_x86_64.tar.gz
            mv helm-docs /usr/local/bin/helm-docs
            chmod +x /usr/local/bin/helm-docs
      - run:
          name: Check Docs for Changes
          command: |
            helm-docs --sort-values-order=file
            git diff --exit-code
      - *check_changelog
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine:v0.7.0
    steps:
      - checkout
      - run:
          name: lint
          command: |
            for script in $(ls scripts/*.sh); do
                shellcheck -x $script
            done
      - run:
          name: lint-pre-scripts
          command: |
            for script in $(find incubator stable -type f -name pre-test-script.sh); do
                shellcheck -x $script
            done
  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.7.1
    steps:
      - checkout
      - *setup_environment
      - run:
          name: lint
          command: |
            git remote add ro https://github.com/fairwindsops/charts
            git fetch ro master
            ct lint --config scripts/ct.yaml --chart-yaml-schema scripts/schema.yaml --debug

  sync:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.7.1
    steps:
      - checkout
      - *setup_environment
      - *install_vault_alpine
      - rok8s11/get_vault_aws_credentials:
          vault_path: fairwindsops/sts/charts-docs
      - rok8s11/get_vault_env:
          vault_path: repo/charts/env
      - run:
          name: sync
          command: scripts/sync.sh

workflows:
  version: 2
  test-and-sync:
    jobs:
      - check-helm-docs
      - lint-scripts
      - lint-charts
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.21"
          kind_node_image: "kindest/node:v1.21.14@sha256:ad5b7446dd8332439f22a1efdac73670f0da158c00f0a70b45716e7ef3fae20b"
          executor:
            name: ci-images-large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.22"
          kind_node_image: "kindest/node:v1.22.15@sha256:bfd5eaae36849bfb3c1e3b9442f3da17d730718248939d9d547e86bbac5da586"
          executor:
            name: ci-images-large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.23"
          kind_node_image: "kindest/node:v1.23.12@sha256:9402cf1330bbd3a0d097d2033fa489b2abe40d479cc5ef47d0b6a6960613148a"
          executor:
            name: ci-images-large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.24"
          kind_node_image: "kindest/node:v1.24.6@sha256:97e8d00bc37a7598a0b32d1fabd155a96355c49fa0d4d4790aab0f161bf31be1"
          executor:
            name: ci-images-large
          <<: *kind_configuration_helm3
      - rok8s11/kubernetes_e2e_tests:
          name: "End-To-End Kubernetes 1.25"
          kind_node_image: "kindest/node:v1.25.2@sha256:9be91e9e9cdf116809841fc77ebdb8845443c4c72fe5218f3ae9eb57fdb4bace"
          executor:
            name: ci-images-large
          <<: *kind_configuration_helm3
      - sync:
          requires:
            - lint-scripts
            - lint-charts
            - check-helm-docs
          filters:
            branches:
              only:
                - master
