insights:
  host: https://insights.fairwinds.com
  organization: ""
  cluster: ""
  base64token: ""

uploader:
  image:
    repository: quay.io/fairwinds/insights-uploader
    tag: 0.1.1
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

cronjobs:
  backoffLimit: 1
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2

polaris:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: quay.io/reactiveops/polaris
    tag: "0.5"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

kubehunter:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/kube-hunter
    tag: "1.0.0"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

kubesec:
  enabled: false
  schedule: "rand * * * *"
  timeout: 120
  image:
    repository: quay.io/fairwinds/fw-kubesec
    tag: "1.1.0"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

goldilocks:
  enabled: true
  schedule: "rand * * * *"
  timeout: 120
  image:
    repository: quay.io/fairwinds/goldilocks
    tag: "v2.1.0"
  controller:
    flags:
      on-by-default: true
      exclude-namespaces: "kube-system"
    resources:
      limits:
        cpu: 2273m
        memory: 2400Mi
      requests:
        cpu: 25m
        memory: 262Mi
  dashboard:
    enabled: false
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

workloads:
  enabled: false
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/workloads
    tag: "1.0.1"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

release-watcher:
  enabled: false
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/release-watcher
    tag: "1.2.0"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
