insights:
  host: https://insights.fairwinds.com
  organization: ""
  cluster: ""
  base64token: ""
  tokenSecretName: ""

rbac:
  disabled: false

uploader:
  image:
    repository: quay.io/fairwinds/insights-uploader
    tag: "0.3"
  sendFailures: true
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  env:

cronjobs:
  disableServiceMesh: true
  backoffLimit: 1
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2
  nodeSelector: null
  runJobsImmediately: true
  # tolerations:
  # dnsPolicy:

cronjobExecutor:
  image:
    repository: curlimages/curl
    tag: "7.79.1"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

installReporter:
  image:
    repository: quay.io/fairwinds/insights-uploader
    tag: "0.3"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

polaris:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  rbac:
    disabled: false
  image:
    repository: quay.io/fairwinds/polaris
    tag: "4.2"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

kubehunter:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  logLevel: INFO
  image:
    repository: aquasec/kube-hunter
    tag: "0.6.3"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

kubesec:
  enabled: false
  schedule: "rand * * * *"
  timeout: 1200
  image:
    repository: quay.io/fairwinds/fw-kubesec
    tag: "1.3"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

goldilocks:
  enabled: false
  vpa:
    enabled: true
    recommender:
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        runAsUser: 65534
        capabilities:
          drop:
          - ALL
  schedule: "rand * * * *"
  timeout: 300
  image:
    repository: quay.io/fairwinds/goldilocks
    tag: "v2.2.0"
  controller:
    flags:
      on-by-default: true
      exclude-namespaces: "kube-system"
    resources:
      limits:
        cpu: 250m
        memory: 545Mi
      requests:
        cpu: 25m
        memory: 262Mi
  dashboard:
    enabled: false
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

opa:
  enabled: false
  schedule: "rand * * * *"
  role: "view"
  timeout: 300
  image:
    repository: quay.io/fairwinds/fw-opa
    tag: "0.3"
  additionalAccess:
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  installCRDs: true

workloads:
  enabled: true
  schedule: "rand * * * *"
  timeout: 300
  image:
    repository: quay.io/fairwinds/workloads
    tag: "2.1"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

nova:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  logLevel: 3
  image:
    repository: quay.io/fairwinds/nova
    tag: "2.3"
  resources:
    limits:
      cpu: 100m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  SkipVolumes: true
  configLocation: "/config/nova.yaml"
  config:
    desired-versions: {}
    helm-hub-config: https://raw.githubusercontent.com/helm/hub/master/config/repo-values.yaml
    helm-version: "auto"
    output-file: "/output/nova.json"
    poll-helm-hub: true
    url:
    - https://charts.fairwinds.com/stable
    - https://charts.fairwinds.com/incubator
    - https://kubernetes-charts.storage.googleapis.com
    - https://kubernetes-charts-incubator.storage.googleapis.com
    - https://charts.jetstack.io

rbacreporter:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  image:
    repository: quay.io/fairwinds/rbac-reporter
    tag: "1.2"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

kubebench:
  enabled: false
  schedule: "rand * * * *"
  mode: "cronjob"
  hourInterval: 2
  timeout: 600
  image:
    repository: quay.io/fairwinds/fw-kube-bench
    tag: 0.3
  aggregator:
    image:
      repository: quay.io/fairwinds/fw-kube-bench-aggregator
      tag: 0.2
    resources:
      limits:
        cpu: 250m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

trivy:
  enabled: false
  namespaceBlacklist: []
  schedule: "rand * * * *"
  privateImages:
    dockerConfigSecret: ""
  maxConcurrentScans: 1
  maxScansPerRun: 20
  timeout: 2400
  image:
    repository: quay.io/fairwinds/fw-trivy
    tag: "0.13"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

pluto:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  targetVersions: ""
  image:
    repository: quay.io/fairwinds/pluto
    tag: "v5.0"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

resourcemetrics:
  enabled: false
  installPrometheus: false
  schedule: "0/10 * * * *"
  timeout: 300
  address: "http://prometheus-server"
  image:
    repository: quay.io/fairwinds/prometheus-collector
    tag: "0.4"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

prometheus:
  kubeStateMetrics:
    enabled: true
  alertmanager:
    enabled: false
  nodeExporter:
    enabled: false
  pushgateway:
    enabled: false
  configmapReload:
    prometheus:
      enabled: false
  server:
    fullnameOverride: "prometheus-server"
    image:
      pullPolicy: Always
    persistentVolume:
      enabled: false
    retention: "1d"
    deploymentAnnotations:
      polaris.fairwinds.com/insecureCapabilities-exempt: "true"
      polaris.fairwinds.com/privilegeEscalationAllowed-exempt: "true"
      polaris.fairwinds.com/livenessProbeMissing-exempt: "true"
      polaris.fairwinds.com/readinessProbeMissing-exempt: "true"
      polaris.fairwinds.com/notReadOnlyRootFilesystem-exempt: "true"
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 500m
        memory: 512Mi
  kube-state-metrics:
    image:
      pullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 32Mi
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL

admission:
  enabled: false

insights-admission:
  nameOverride: insights-agent
  insights:
    secret:
      create: false
      suffix: 'token'
    configmap:
      create: false
      suffix: 'configmap'
  serviceAccount:
    rbac:
      grantRole: "view"

# test -- Used for chart CI only - deploys a test deployment
test:
  enabled: false
  image:
    repository: "python"
    tag: "3.6"
    pullPolicy: "Always"

awscosts:
  enabled: false
  schedule: "rand * * * *"
  timeout: 300
  image:
    repository: quay.io/fairwinds/aws-costs
    tag: "0.1"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

falco:
  enabled: false
  installFalco: false
  statefulset: true
  persistence:
    enabled: true
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    annotations: {}
    size: 1Gi
  schedule: "rand * * * *"
  timeout: 300
  service:
    port: 3031
  image:
    repository: quay.io/fairwinds/falco-agent
    tag: "0.1.2"
    pullPolicy: Always
  podSecurityContext:
    fsGroup: 101
    runAsUser: 1200
    runAsNonRoot: true
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1200
    capabilities:
      drop:
        - ALL
  tolerations: []
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

falcosecurity:
  fullnameOverride: insights-agent
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 50m
      memory: 128Mi
  falco:
    jsonOutput: true
  ebpf:
    # Enable eBPF support for Falco instead of falco-probe kernel module
    enabled: false
  falcosidekick:
    # enable falcosidekick deployment
    enabled: true
    fullfqdn: true
    webui:
      enabled: true
    config:
      webhook:
        address: "http://falco-agent:3031/data"
        customHeaders: ""  # a list of comma separated custom headers to add, syntax is "key:value\,key:value"
        minimumpriority: ""
        mutualtls: false
        checkcert: true
