insights:
  host: https://insights.fairwinds.com
  organization: ""
  cluster: ""
  base64token: ""

uploader:
  image:
    repository: quay.io/fairwinds/insights-uploader
    tag: "0.1"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

cronjobs:
  backoffLimit: 1
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2
  runJobsImmediately: true

cronjobExecutor:
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 1m
      memory: 3Mi

polaris:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/polaris
    tag: "0.6"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

kubehunter:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: aquasec/kube-hunter
    tag: "501"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

kubesec:
  enabled: false
  schedule: "rand * * * *"
  timeout: 1200
  image:
    repository: quay.io/fairwinds/fw-kubesec
    tag: "1.2"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

goldilocks:
  enabled: true
  installVPA: true
  schedule: "rand * * * *"
  timeout: 120
  image:
    repository: quay.io/fairwinds/goldilocks
    tag: "v2.2.0"
  controller:
    flags:
      on-by-default: true
      exclude-namespaces: "kube-system"
    resources:
      limits:
        cpu: 250m
        memory: 545Mi
      requests:
        cpu: 25m
        memory: 262Mi
  dashboard:
    enabled: false
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

workloads:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/workloads
    tag: "1.2"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

releasewatcher:
  enabled: true
  schedule: "rand * * * *"
  image:
    repository: quay.io/fairwinds/release-watcher
    tag: "v1.6.0"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi

trivy:
  enabled: true
  namespaceBlacklist: []
  schedule: "rand */3 * * *"
  privateImages:
    dockerConfigSecret: ""
  maxConcurrentScans: 5
  maxScansPerRun: 30
  timeout: 10800
  image:
    repository: quay.io/fairwinds/fw-trivy
    tag: "0.3"
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 64Mi
