dashboard:
  ingress:
    enabled: true
    ingressClassName: ingress
    hosts:
    - foo.com
  deploymentAnnotations:
    foo: bar
webhook:
  enabled: true
  mutate: true
  mutatingConfigurationAnnotations:
    test: mutate
  validatingConfigurationAnnotations:
    test: validate
  certManager:
    apiVersion: cert-manager.io/v1
  deploymentAnnotations:
    foo: bar
extraManifests:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: extra-configmap
    data:
      key: value
