# Default values

nameOverride: ""
fullnameOverride: ""
targetSystem: linux

remoteConfiguration:
  enabled: false
datadog:
  apiKey:  # <DATADOG_API_KEY>
  apiKeyExistingSecret:   # <DATADOG_API_KEY_SECRET>
  appKey:   # <DATADOG_APP_KEY>
  appKeySecretName:   # <DATADOG_APP_KEY_SECRET>
  logLevel: INFO
  site: datadoghq.com

clusterAgent:
  # -- Use init containers to bootstrap config from image into emptyDir (config + tmpdir + apmsocket volumes)
  useInitContainersForConfig: true
  image:
    repository: public.ecr.aws/datadog/agent
    pullPolicy: Always
    # -- Overrides the image tag whose default is {{ .Chart.AppVersion }}
    tag: ""
  command:
    - trace-agent
    - --config=/etc/datadog-agent/datadog.yaml
  enabled: true
  token:   # <DATADOG_CLUSTER_AGENT_TOKEN>
  apm:
    enabled: true
    nonLocalTraffic: true
    receiverPort: 8126
    unlimited: true
  additionalEnvVars: {}
  metricsProvider:
    enabled: true
    port: 8126
    service:
      type: ClusterIP
      port: 8126
    aggregator: avg
    wpaController: false
    useDatadogMetrics: false
  priorityClassName:  # <FW_PRIORITY_CLASS_NAME>
  serviceAccount:
    create: true
    name: datadog-apm
  healthPort: 5555
  livenessProbe:
    failureThreshold: 6
    initialDelaySeconds: 15
    periodSeconds: 15
    successThreshold: 1
    tcpSocket:
      port: 8126
    timeoutSeconds: 5
  readinessProbe:
    failureThreshold: 6
    initialDelaySeconds: 15
    periodSeconds: 15
    successThreshold: 1
    tcpSocket:
      port: 8126
    timeoutSeconds: 5
  resources:
    limits:
      cpu: 50m
      memory: 150Mi
    requests:
      cpu: 50m
      memory: 150Mi
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    memoryScaler: true
    averageMemoryUtilization: 75
    cpuScaler: false
    averageCPUUtilization: 60
  createPodDisruptionBudget: true

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
