# Default values file
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: quay.io/fairwinds/custom-metrics
  tag: v0.5.0
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

controller:
  enabled: true
  rbac:
    create: true
  serviceAccount:
    create: true
    # name: ExistingServiceAccountName

  datadogAnnotations:
    enabled: true
  logVerbosity: "2"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  resources:
    limits:
      cpu: 25m
      memory: 32Mi
    requests:
      cpu: 25m
      memory: 32Mi

  service:
    enabled: true
    type: ClusterIP
    port: 10042

listener:
  enabled: false
  port: 2113
  username: ""
  password: ""
  maxJobAge: 10
  secret:
    create: true
    # name: 
  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths:
          - /

    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  service:
    type: ClusterIP
    port: 8080
