{{- if not (index .Values.global "options" "insightsSAASHost") }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "fairwinds-insights.fullname" . }}-trial-end
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
    app.kubernetes.io/component: trial-end-downgrade-cronjob-nightly
spec:
  schedule: "0 4 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          {{- with index $.Values "image" "pullSecret" }}
          imagePullSecrets:
            - name: {{ . }}
          {{- end }}
          containers:
            - name: fairwinds-insights
              image: "{{  index $.Values "cronjobImage" "repository" }}:{{ include "fairwinds-insights.cronjobImageTag" . }}"
              command: ["trial_end_downgrade"]
              {{- include "fairwinds-insights.env" $ | indent 14 }}
              imagePullPolicy: Always
              resources:
                limits:
                  cpu: 500m
                  memory: 1024Mi
                requests:
                  cpu: 80m
                  memory: 128Mi
              securityContext:
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
                privileged: false
                runAsNonRoot: true
                runAsUser: 10324
                capabilities:
                  drop:
                    - ALL
{{- end }}
