# Default values for helm-release-pruner

image:
  # image.repository -- Repo for image that the job runs on
  repository: quay.io/fairwinds/helm-release-pruner
  # image.tag -- The image tag to use
  tag: v3.3.0
  # image.pullPolicy -- The image pull policy. We do not recommend changing this
  pullPolicy: Always

podAnnotations: {}

job:
  # job.backoffLimit -- The backoff limit for the job
  backoffLimit: 3
  # job.restartPolicy - The job restart policy
  restartPolicy: Never
  # job.schedule -- The schedule for the cronjob to run on
  schedule: "0 */4 * * *"
  # job.dryRun -- If true, will only log candidates for removal and not remove them
  dryRun: true
  # job.debug -- If true, will enable debug logging
  debug: false
  serviceAccount:
    # job.serviceAccount.create -- If true, a service account will be created for the job to use
    create: true
    # job.serviceAccount.name -- The name of a pre-existing service account to use if job.serviceAccount.create is false
    name: ExistingServiceAccountName
  listSecretsRole:
    # job.listSecretsRole.create -- If true, a cluster role will be created for the job to list helm releases
    create: true
    # job.listSecretsRole.name -- Name of a cluster role granting list secrets permission
    name: helm-release-pruner-list-secrets
  # resources -- The resources block for the job pod
  resources:
    limits:
      cpu: 25m
      memory: 32Mi
    requests:
      cpu: 25m
      memory: 32M
  # job.nodeSelector -- The job nodeSelector
  nodeSelector: {}
  # job.tolerations -- The job tolerations
  tolerations: []

# pruneProfiles -- Filters to use to find purge candidates. See example usage in values.yaml for details
pruneProfiles: []
#   - olderThan: "8 hours ago"
#     maxReleasesToKeep: 10
#     helmReleaseFilter: "^feature-.+-web$"
#     namespaceFilter: "^feature-.+"
#     helmReleaseNegateFilter: "-permanent$"
#     namespaceNegateFilter: "-permanent$"

rbac_manager:
  # rbac_manager.enabled -- If true, creates an RbacDefinition to manage access
  enabled: false
  # rbac_manager.namespaceLabel -- Label to match namespaces to grant access to
  namespaceLabel: ""

# fullnameOverride -- A template override for fullname
fullnameOverride: ""
# nameOverride -- A template override for name
nameOverride: ""

# extraManifests -- A list of extra manifests to be installed with this chart. This is useful for installing additional resources that are not part of the chart
extraManifests: []
  # - apiVersion: v1
  #   kind: ConfigMap
  #   metadata:
  #     name: extra-configmap
  #   data:
  #     key: value
