{{- if .Values.reportjob.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fairwinds-insights.fullname" . }}-reportjob
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
    app.kubernetes.io/component: reportjob
    {{- if .Values.deployments.additionalLabels }}
    {{ toYaml .Values.deployments.additionalLabels | nindent 4 }}
    {{- end }}
  annotations:
    polaris.fairwinds.com/livenessProbeMissing-exempt: "true"
    polaris.fairwinds.com/readinessProbeMissing-exempt: "true"

spec:
  selector:
    matchLabels:
      {{- include "fairwinds-insights.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: reportjob
  template:
    metadata:
      labels:
        {{- include "fairwinds-insights.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: reportjob
        {{- if .Values.deployments.additionalPodLabels }}
        {{ toYaml .Values.deployments.additionalPodLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecret }}
      imagePullSecrets:
        - name: {{ . }}
      {{- end }}
      serviceAccountName: {{ include "fairwinds-insights.fullname" . }}-insights
      terminationGracePeriodSeconds: {{ .Values.reportjob.terminationGracePeriodSeconds }}
      containers:
        - name: fairwinds-insights
          image: "{{ .Values.apiImage.repository }}:{{ include "fairwinds-insights.apiImageTag" . }}"
          imagePullPolicy: Always
          command: ["report_job"]
          {{- include "env" . | indent 10 }}
          volumeMounts:
            - name: secrets
              mountPath: /var/run/secrets/github
          resources:
            {{- toYaml .Values.reportjob.resources | nindent 12 }}
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            runAsUser: 10324
            capabilities:
              drop:
                - ALL
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: secrets
          secret:
            secretName: github-secrets
            optional: true
    {{- with .Values.reportjob.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
