{{- if .Values.ingress.enabled }}
{{- $fullName := include "fairwinds-insights.fullname" . -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}-api
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
    app.kubernetes.io/component: ingress-api
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          - backend:
              serviceName: {{ $fullName }}-api
              servicePort: http
            path: /v0/*
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          - backend:
              serviceName: {{ $fullName }}-dashboard
              servicePort: http
            path: /*
    {{- end }}
{{- end }}
