{{- if .Values.ingress.enabled }}
{{- $fullName := include "fairwinds-insights.fullname" . -}}
{{- if not (.Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress") }}
{{- if not .Values.ingress.separate }}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    {{- if $.Values.api.ingress.enabled }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          - path: {{ $.Values.ingress.starPaths | ternary "/v0/*" "/v0" }}
            backend:
              serviceName: {{ $fullName }}-api
              servicePort: http
    {{- end }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          {{ with $.Values.ingress.extraPaths }}
          {{- toYaml . | nindent 10 }}
          {{ end }}
          {{- if $.Values.openApi.ingress.enabled }}
          - path: {{ $.Values.ingress.starPaths | ternary "/swagger/*" "/swagger" }}
            backend:
              serviceName: {{ $fullName }}-open-api
              servicePort: http
          {{- end }}
          - path: {{ $.Values.ingress.starPaths | ternary "/*" "/" }}
            backend:
              serviceName: {{ $fullName }}-dashboard
              servicePort: http
    {{- end }}
{{- else }}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}-api
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- if .Values.ingress.api }}
    {{ with .Values.ingress.api.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          - path: {{ $.Values.ingress.starPaths | ternary "/v0/*" "/v0" }}
            backend:
              serviceName: {{ $fullName }}-api
              servicePort: http
    {{- end }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}-dashboard
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- if .Values.ingress.dashboard }}
    {{ with .Values.ingress.dashboard.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          {{ with $.Values.ingress.extraPaths }}
          {{- toYaml . | nindent 10 }}
          {{ end }}
          {{- if $.Values.openApi.ingress.enabled }}
          - path: {{ $.Values.ingress.starPaths | ternary "/swagger/*" "/swagger" }}
            backend:
              serviceName: {{ $fullName }}-open-api
              servicePort: http
          {{- end }}
          - path: {{ $.Values.ingress.starPaths | ternary "/*" "/" }}
            backend:
              serviceName: {{ $fullName }}-dashboard
              servicePort: http
    {{- end }}
{{- end }}
{{- else }}
{{- if not .Values.ingress.separate }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          {{ with $.Values.ingress.extraPaths }}
          {{- toYaml . | nindent 10 }}
          {{ end }}
          {{- if $.Values.openApi.ingress.enabled }}
          - path: {{ $.Values.ingress.starPaths | ternary "/swagger/*" "/swagger" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-open-api
                port:
                  name: http
          {{- end }}
          {{- if $.Values.api.ingress.enabled }}
          - path: {{ $.Values.ingress.starPaths | ternary "/v0/*" "/v0" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-api
                port:
                  name: http
          {{- end }}
          - path: {{ $.Values.ingress.starPaths | ternary "/*" "/" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-dashboard
                port:
                  name: http
    {{- end }}
{{- else }}
{{- if $.Values.api.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-api
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- if .Values.ingress.api }}
    {{ with .Values.ingress.api.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          - path: {{ $.Values.ingress.starPaths | ternary "/v0*" "/v0" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-api
                port:
                  name: http
    {{- end }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-dashboard
  labels:
    {{- include "fairwinds-insights.labels" . | nindent 4 }}
  annotations:
    {{ with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- if .Values.ingress.dashboard }}
    {{ with .Values.ingress.dashboard.annotations }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ $fullName }}-cert
      hosts:
        {{- range .Values.ingress.hostedZones }}
        - {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
        {{- end }}
{{- end }}
  rules:
    {{- range .Values.ingress.hostedZones }}
    - host: {{ include "fairwinds-insights.sanitizedPrefix" $ }}{{ . }}
      http:
        paths:
          {{ with $.Values.ingress.extraPaths }}
          {{- toYaml . | nindent 10 }}
          {{ end }}
          {{- if $.Values.openApi.ingress.enabled }}
          - path: {{ $.Values.ingress.starPaths | ternary "/swagger/*" "/swagger" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-open-api
                port:
                  name: http
          {{- end }}
          - path: {{ $.Values.ingress.starPaths | ternary "/*" "/" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-dashboard
                port:
                  name: http
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
