{{- if (index .Values "right-sizer" "enabled") -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "insights-agent.fullname" . }}-right-sizer-controller
  {{- if  (index .Values "right-sizer" "deploymentAnnotations") }}
  annotations:
    {{- toYaml (index .Values "right-sizer" "deploymentAnnotations") | nindent 4 }}
  {{- end }}
  labels:
    component: right-sizer
    app: insights-agent
spec:
  selector:
    matchLabels:
      component: right-sizer
      app: insights-agent
  template:
    metadata:
      labels:
        component: right-sizer
        app: insights-agent
      {{- if .Values.global.podAnnotations }}
      annotations:
        {{ toYaml .Values.global.podAnnotations | indent 8 }}
      {{- end }}
    spec:
      {{- with (index .Values "right-sizer" "imagePullSecrets") }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}-right-sizer-controller
          ports:
          - containerPort: 8080
          env:
          {{ include "proxy-env-spec" . | indent 12 | trim }}
          securityContext:
            {{- toYaml (index .Values "right-sizer" "containerSecurityContext") | nindent 12 }}
          image: "{{ (index .Values "right-sizer" "image" "repository") }}:{{ (index .Values "right-sizer" "image" "tag") }}"
          imagePullPolicy: {{ (index .Values "right-sizer" "image" "pullPolicy") }}
          command:
          - "right-sizer"
          - "--state-configmap-namespace"
          - "{{ .Release.Namespace }}"
          - "--state-configmap-name"
          - "{{ (index .Values "right-sizer" "stateconfigmapname") }}"
          {{- range (index .Values "right-sizer" "namespaces") }}
          - "--namespace"
          - "{{ . }}"
          {{- end }}
          {{- if (index .Values "right-sizer" "updateMemoryLimits" "enabled") }}
          - "--update-memory-limits"
          - "--update-memory-limits-increment"
          - "{{ (index .Values "right-sizer" "updateMemoryLimits" "increment") }}"
          - "--update-memory-limits-max"
          - "{{ (index .Values "right-sizer" "updateMemoryLimits" "max") }}"
          - "--update-memory-limits-min-ooms"
          - "{{ (index .Values "right-sizer" "updateMemoryLimits" "minOOMs") }}"
          {{- range (index .Values "right-sizer" "updateMemoryLimits" "namespaces") }}
          - "--update-memory-limits-namespace"
          - "{{ . }}"
          {{- end }}
{{- end }}
          - "--reset-ooms-window"
          - "{{ (index .Values "right-sizer" "resetOOMsWindow") }}"
          {{- range (index .Values "right-sizer" "extraArgs") }}
          - "{{ . }}"
          {{- end }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          resources:
            {{- toYaml (index .Values "right-sizer" "resources") | nindent 12 }}
      serviceAccountName: {{ (index .Values "right-sizer" "serviceAccountName") }}
{{- end -}}
