# Default values for ecr-cleanup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

controller:
  interval: "60"             # Minutes between runs
  dryRun: "true"             # Set to true for test
  maxImages: 900             # Max number of images in repo
  registryID: ""             # The account-id to use if is different than the credentials
  repos: "test-repo"         # Comma-separated list of repos
  namespaces: "default"      # Comma-separated list of namespaces
  region: "us-east-1"        # AWS Region
  verbosity: "1"             # Logging verbosity
# keep_filters: ""           # Comma-separated list of image filters to whitelist
replicaCount: 1

image:
  repository: danielfm/kube-ecr-cleanup-controller
  tag: 0.1.7
  pullPolicy: Always

rbac:
  create: true

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

# extraManifests -- A list of extra manifests to be installed with this chart. This is useful for installing additional resources that are not part of the chart
extraManifests: []
  # - apiVersion: v1
  #   kind: ConfigMap
  #   metadata:
  #     name: extra-configmap
  #   data:
  #     key: value
