image:
  repository: k8s.gcr.io/gke-node-termination-handler
  tag: sha256:aca12d17b222dfed755e28a44d92721e477915fb73211d0a0f8925a1fa847cca
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

daemonset:
  updateStrategy:
    type: RollingUpdate

resources:
  limits:
    cpu: 150m
    memory: 30Mi
  requests:
    cpu: 150m
    memory: 30Mi
