replicas: 1
insights:
  host: http://insights-admission-test:8080
  organization: acme-co
  cluster: us-east-1
  base64token: Zm9vCg==
test:
  enabled: true
serviceAccount:
  rbac:
    viewSecrets: true
    grantRole: view
    additionalAccess:
    - apiGroups:
      - app
      resources:
      - deployments
      verbs:
      - get
      - list
webhookConfig:
  annotations:
    "test-annotation": "test-annotation-value"
