ingress:
  hostedZones:
  - test.cluster.local

options:
  insightsSAASHost: "https://staging.insights.fairwinds.com"
  autoGenerateKeys: true

postgresql:
  sslMode: "disable"
  password: "changeme"

dashboard:
  pdb:
    enabled: false
  hpa:
    enabled: false
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 25Mi

api:
  pdb:
    enabled: false
  hpa:
    enabled: false
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 25Mi

alertsCronjob:
  schedules: []

aggregateCronjob:
  schedules: []

emailCronjob:
  schedules: []

deleteOldActionItemsCronjob:
  schedules: []
