rok8sCIRef: this-is-a-really-long-string-that-will-need-to-be-truncated
sanitizedBranch: this-is-a-really-long-string-that-will-need-to-be-truncated
fullnameOverride: this-is-a-really-long-string-that-will-need-to-be-truncated

ingress:
  enabled: true
  hostedZones:
  - test.cluster.local

options:
  insightsSAASHost: "https://staging.k8s.insights.fairwinds.com"
  autogenerateKeys: true

deployments:
  additionalLabels:
    foo: bar
  additionalPodLabels:
    pod-foo: pod-bar

postgresql:
  auth:
    password: "changeme"

dashboard:
  pdb:
    enabled: false
  hpa:
    enabled: false
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 25Mi

api:
  pdb:
    enabled: false
  hpa:
    enabled: false
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 25Mi

alertsCronjob:
  schedules: []

aggregateCronjob:
  schedules: []

emailCronjob:
  schedules: []

databaseCleanupCronjob:
  enabled: true
  schedules: []

resourcesRecommendationsCronjob:
  enabled: true
  schedules: []

closeTicketsCronjob:
  schedules: []

minio:
  install: true
  buckets:
  - name: reports
    policy: none
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
  nameOverride: fw-minio
  persistence:
    enabled: false
  replicas: 1
  drivesPerNode: 1
 