# Fairwinds Insights

[Fairwinds Insights](https://insights.fairwinds.com) Software to automate, monitor, and enforce Kubernetes best practices.

## Installation
We recommend installing Fairwinds Insights in its own namespace and with a simple release name:

```
helm repo add fairwinds-stable https://charts.fairwinds.com/stable
helm install insights fairwinds-stable/fairwinds-insights --namespace fairwinds-insights
```

{{ template "chart.valuesSection" . }}
